.head {
  display: block;
  width: 100%;
  background: $white;
}

.head::after {
  bottom: -2px;
  box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, 0.06);
  content: "";
  height: 2px;
  position: absolute;
  left: 0px;
  right: 0px;
  opacity: 1;
  pointer-events: none;
  width: 100%;
  z-index: 1030;
}

header {
  position: static;
  top: 0;
  width: 100%;
  z-index: 1020;
  transform: translateY(0);
  transition: transform 0.3 ease;
}

.tb-wp {
  height: 48px;
  display: block;
  width: 100%;
  background: $white;
}

.tb-inner {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

/* TopBar logo  */
.tb-logo-wp {
  display: flex;
  flex: none;
  justify-content: flex-start;
  height: 32px;
  width: 120px;
}

a.tb-logo {
  display: block;
  overflow: hidden;
  position: relative;
}

.tb-logo img {
  font-size: 14px;
  height: 100%;
  border: 0;
}

/* TopBar search section */
.tb-search {
  margin: 0 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  max-width: 480px;
}

.tb-search .form {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.tb-search-wp {
  max-width: 620px;
}

.tb-search-box {
  background-color: $white;
  border: 1px solid $border-color;
  padding: 2px 6px;
  border-radius: 2px 0 0 2px;
  border-right: none;
  width: 100%;
  position: relative;
}

.tb-search-input {
  -webkit-box-flex: 1;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  flex: 1;
  /*font-family: Roboto, sans-serif;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  max-width: 100%;
  outline: none;
  text-align: inherit;
  width: 100%;
  height: 1.5rem;
  padding-right: 2.5rem;
}

.tb-search-btn {
  cursor: pointer;
  border: 1px solid $border-color;
  background-color: $ss-white-ter;
  border-radius: 0 2px 2px 0;
  margin: 0;
  vertical-align: middle;
  flex: none;
  text-align: center;
  box-sizing: border-box;
  width: 2.5rem;
  height: 2rem;
  padding: 4px;
}

.tb-search-box .tb-search-clear {
  position: absolute;
  right: 12px;
  top: 6px;
}

.tb-search .tb-search-back,
.tb-inner .mb-navbar-search {
  display: none;
}

@media (max-width: 480px) {
  .tb-search {
    display: none;
  }

  .mb-search-active .tb-search {
    display: flex;
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 0.5rem 0 0;
    z-index: 9999;
  }

  .tb-search .tb-search-back,
  .tb-inner .mb-navbar-search {
    display: flex;
  }

  .mb-search-active .tb-search::before {
    content: "";
    width: 100%;
    height: 40px;
    background: $white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: -1;
  }

  .mb-search-active .tb-search-box {
    border: 1px solid transparent;
    border-right-color: #ddd;
  }

  .mb-search-active .tb-search-btn {
    background-color: transparent;
    border: 1px solid transparent;
  }
}

/* TopBar right end section */
.tb-end {
  min-width: 220px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.tb-signin-text {
  display: block;
  line-height: 1rem;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

.tb-signin-btn {
  border: 1px solid $ss-light-grayish-blue;
  background: $white;
  padding: 4px 6px;
  border-radius: 2px;
  font-size: 14px;
}

.tb-contact-text {
  display: inline-block;
  line-height: .75rem;
  overflow: hidden;
  box-sizing: border-box;
  text-align: left;
}

.tb-contact-label {
  display: block;
  line-height: 1rem;
  font-size: .75rem;
  color: $grey;
}

.tb-contact-sublabel {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
}

.tb-sep {
  display: flex;
  align-items: center;
  margin: 0 8px;
  width: 1px;
  position: relative;
}

.tb-sep::before {
  content: "";
  width: 1px;
  background-color: $border-color;
  height: 24px;
  display: flex;
}

.tb-cart {
  position: relative;
}

.tb-cart a {
  height: 36px;
  line-height: 16px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.tb-cart .cart-count {
  position: absolute;
  top: 2px;
  left: 18px;
  font-size: 13px;
  background: $white;
  border-radius: 50%;
  font-weight: 700;
  line-height: 1rem;
  color: $ss-red;
  text-align: center;
  width: 1rem;
}

.tb-cart-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 12px;
  margin-left: -8px;
}

@media (max-width: 767px) {
  .tb-end {
    min-width: auto;
  }

  .tb-end .mr-s {
    margin: 0;
  }
}

@media screen and (min-width: 769px) {
  .tb-cart .mdr-icon-wp {
    margin-top: 4px;
  }
}

/* TopBarBottom styles */

nav {
  position: relative;
  font-size: 1rem;
  background-color: $white;
  border-bottom: 1px solid $border-color;
}

.head-nav li {
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.5rem 1.25rem;
  font-weight: normal;
  border-bottom: 2px solid transparent;
}

.head-nav .nav-level-1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 2rem 1.25rem;
  text-align: left;
  width: 100%;
  display: none;
  background-color: $ss-white-ter;
  border: none;
  z-index: 1003;
}

.head-nav li.is-active {
  border-bottom: 2px solid $ss-red;
}

.head-nav li.is-active .nav-level-1 {
  display: flex;
}

.head-nav .nav-level-1 li.column {
  margin-bottom: 6px;
}

.head-nav .nav-level-2 {
  margin: 6px 0;
}

.head-nav .nav-level-2 li {
  display: block;
  padding: 3px 0;
}

.head-nav .nav-level-2 a {
  color: #586069;
  display: block;
  font-size: 0.75rem;
  text-transform: none;
}

.head-nav .nav-level-1 a:hover,
.head-nav .nav-level-2 a:hover {
  text-decoration: underline;
}

.head-nav .nav-level-3 {
  padding: 0.25rem 0.75rem 0.75rem;
}

.mobile-nav li {
  display: block;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.mobile-nav li li {
  background-color: rgba(0, 0, 0, 0.05);
}

.mobile-nav .cat-parent {
  position: relative;
}

.mobile-nav li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  display: flex;
  padding: 0.75rem 3.25rem 0.75rem 0.75rem;
}

.mobile-nav li li li a {
  padding-left: 1.5rem;
}

.mobile-nav li li li li a {
  padding-left: 2.25rem;
}

.mobile-nav li ul {
  display: none;
  width: 100%;
}

.mobile-nav li.is-active>ul {
  display: block;
  position: relative;
}

.mobile-nav li span {
  display: block;
  position: absolute;
  right: 0;
  top: 4px;
  transition: transform 0.2s ease-in;
  z-index: 1004;
}

.mobile-nav li.is-active>div span {
  transform: rotate(90deg);
}

.mobile-nav a.is-active {
  color: #ff3860;
}

.nav-menu {
  width: auto !important;
}

.nav-menu .nav-menu-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 1rem;
  padding-right: 8px;
}

.mdc-drawer {
  top: 0;
  bottom: 0;
  z-index: 1030;
  overflow-y: auto;
}

.mdc-drawer-scrim {
  z-index: 1029;
}

.mdc-drawer__header {
  flex-shrink: 0;
  box-sizing: border-box;
  min-height: 0;
  padding: 12px 2px 12px 12px;
  background-color: $ss-white-ter;
}

.mdc-drawer::-webkit-scrollbar {
  width: 8px;
}

.mdc-drawer::-webkit-scrollbar-thumb {
  height: 56px;
  background: hsla(0, 0%, 53.3%, 0.4);
}

.mdc-drawer .mobile-nav {
  padding: 20px 0;
}

/* End NavBar */
