/*TODO: theme: helpers */
/*
  --- MARGIN ---
  .mr-xxs ==> 2px
	.mr-xs  ==> 4px
	.mr-s  ==> 8px ==> .5rem
	.mr-m  ==> 12px ==> .75rem
	.mr-l  ==> 16px ==> 1rem
*/
.mr-s {
  margin: 0 8px;
}

/* --- FLEXBOX --- */
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-sb {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}
