@import "~bulma/sass/utilities/initial-variables";

/* REVIEW: theme colors (under test)*/
/* try #91969e for icon color */
$ss-red: #f1404b;
$ss-piper: #cb4d29;
$ss-maroon: #860104;
$ss-green: #0c9845;
$ss-ebony-clay: #233041;
$ss-bluewood: #243443;
$ss-black: #24292e;
$ss-denim: #106dbb;
$ss-jumbo: #79787a;
$ss-conch: #dadedc;
$ss-light-grayish-blue: #a2a8bb;
$ss-light-grayish-blue-1: #dddfe6;
$ss-white-ter: #f4f5f9;

$primary: $ss-green;
$link: $ss-black;
$text: $ss-black;
$grey: $ss-jumbo;
$icon-color:$ss-light-grayish-blue;
$border-color: $ss-light-grayish-blue-1;

$tag-background-color: #ffdd57;
$tag-color: rgba(0, 0, 0, 0.7);
$tag-radius: 3px;

$breadcrumb-item-color: #7a7a7a;
$breadcrumb-item-separator-color: #7a7a7a;

@import "~bulma";
@import "~rc-slider/assets/index.css";
$ig-blue: #636363 !default;
@import "~react-image-gallery/styles/scss/image-gallery-no-icon.scss";
@import "~@material/react-drawer/dist/drawer.min.css";


/*
  TODO:
    #1. customize/reset selectors
    #2. Add helpers
    #3. import other modules
    #4. ...
*/

.image-gallery-bullets .image-gallery-bullets-container {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 4px 0;
  border-radius: 20px;
  display: flex;
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
}

.image-gallery-right-nav,
.image-gallery-left-nav {
  background-color: rgba(0, 0, 0, 0.2);
}

.image-gallery-thumbnails-wrapper.left {
  min-height: 340px;
}


/* REVIEW:... */
a,
input,
button {
  outline: none;
}

.hero-body,
.section {
  padding: 1.5rem;
}

/* REVIEW: remove */
.box {
  border-radius: 0;
}

.modal-content {
  z-index: 1002;
  margin: 3.25rem 1.5rem 0 1.5rem;
}

.title {
  font-weight: 300;
}

.shipping-company {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Icon global styles */
.mdr-icon-wp {
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
}

/*svg.mdr-icon path {
  fill: #3a3e4a;
}*/

.mdr-icon-btn {
  vertical-align: middle;
  color: inherit;
  outline: none;
  background: none;
  margin: 0;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.mdr-icon path {
  fill: $icon-color;
}

.mdi-chevron-icon {
  padding-top: 16px;
  padding-left: 4px;
}

.mdi-chevron-icon svg path {
  fill: $grey;
}

@import "_helpers.scss";
@import "_header.scss";
@import "homeSlider.scss";
@import "checkout.scss";
@import "cart.scss";
@import "footer.scss";
@import "category.scss";
@import "product.scss";
@import "page.scss";
@import "custom.scss";
